:root {
  --primary-color: pink;
  --secondery-color: #e6007e;
  --bg-color: rgb(37, 34, 34);
  --text-color: white;
  --text-se-color: black;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Sono", Verdana, Tahoma, sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
}

.logo-img {
  background-image: url(../img/gabrielle-henderson-unsplash.jpg);
  background-position: center;
  background-size: 100% 930px;
  background-repeat: no-repeat;
  width: 40vw;
}

.logo {
  height: 70px;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  top: 30vh;
  gap: 1vw;
  padding: 15px 0;
  justify-content: center;
  align-items: center;
}

.container,
.container {
  display: flex;
  flex-flow: row wrap;
}

h1 {
  color: var(--text-color);
  text-align: center;
}

h1 i {
  color: var(--secondery-color);
}

.right {
  width: 60vw;
  background-color: var(--primary-color);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.text-info {
  font-weight: 700;
  width: 90%;
  font-size: 1.4rem;
}

.left {
  padding-left: 3vw;
}

.text-p {
  margin: 40px 0 80px;
}

.form {
  background-color: var(--text-color);
  box-shadow: 0 10px 20px -2px rgb(196, 191, 196);
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  padding: 20px;
  padding-left: 40px;
}

.form-title {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 600;
}

.input {
  display: flex;
  flex-flow: column wrap;
  width: 40%;
  font-size: 0.7;
  text-transform: uppercase;
  font-weight: 400;
}

input {
  border: 2px solid var(--secondery-color);
  border-radius: 5px;
  height: 30px;
}

input:focus {
  outline: none;
  border: 2px solid rgb(179, 47, 179);
}

button {
  background-color: var(--secondery-color);
  color: var(--text-color);
  font-weight: 700;
  font-size: 1.4rem;
  border: 2px solid var(--text-color);
  border-radius: 7px;
  padding: 10px 40px;
  margin: 40px 0;
}

button:hover {
  color: var(--secondery-color);
  border: 2px solid var(--secondery-color);
  background-color: var(--text-se-color);
  cursor: pointer;
}

.log-in {
  display: flex;
  gap: 5px;
  font-size: 1.1rem;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: var(--secondery-color);
  font-weight: 700;
  cursor: pointer;
}
